.navbar {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--side-padding);
  height: 100%;

  a {
    color: var(--text-color);
    text-decoration: none;
  }
}

.desktop-navigation {
  display: flex !important;
}

.tablet-navigation {
  display: none !important;
}

.mobile-navigation {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .desktop-navigation {
    display: none !important;
  }

  .tablet-navigation {
    display: flex !important;
  }

  .mobile-navigation {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .desktop-navigation {
    display: none;
  }

  .tablet-navigation {
    display: flex;
  }

  .mobile-navigation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop-navigation {
    display: none !important;
  }

  .tablet-navigation {
    display: none !important;
  }

  .mobile-navigation {
    display: flex !important;
  }
}
